<div class="name">
    <input id="nome" name="nome" type="text" placeholder="Nome completo, ex. Fulano Beltrano" required="required" pattern="^([A-Za-z]+[,.]?[ ]+[A-Za-z]+['-]?)+$" />
    <input id="email" name="email" type="email" placeholder="Endereço de email válido" required="required" />
</div>
<div class="button">
    <input type="submit" value="Enviar">
</div>
