
@{
    ViewBag.Title = "Cadastro";
}

<div class="technology-1">
            <div class="business">

                <div class="comment">
                    <h3>Cadastre-se para ter acesso a conteúdos exclusivos</h3>

                    <div class=" comment-bottom">
                        <form>
                            <input type="text" placeholder="Nome">
                            <input type="text" placeholder="Email">
                            <input type="submit" value="Enviar">
                        </form>
                    </div>

                    <p></p>
                </div>
                <br><br>
            </div>
    </div>


