
@{
    ViewBag.Title = "Contato";
}

<div class="technology-1">
    <div class="container">
        <div class="col-md-9 technology-left">

            <div class="business">
                <div id="contact" class="contact">
                    <h3>Contato</h3>
                    <p>Deixe seu recado, dúvida, crítica, depoimento ou apenas seu nome e e-mail para manter-se informado sobre como fazer boas transmissões ao vivo.	</p>
                    <div class="contact-grids">
                        <div class="contact-icons">
                            <div class="contact-grid">
                                <div class="contact-fig1">
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                </div>
                                <p>GAMA EXPERIÊNCE</p>
                                <span>SÃO PAULO</span></p>
                            </div>
                            <div class="contact-grid">
                                <div class="contact-fig2">
                                    <span class="glyphicon glyphicon-envelope2" aria-hidden="true"></span>
                                </div>
                                <p><a href="mailto:info@example.com">contato@uvideos.com.br</a></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <form>
                            <input type="text" placeholder="Nome">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Empresa">
                            <textarea placeholder="Mensagem..."></textarea>
                            <input type="submit" value="Enviar">
                        </form>
                  </div>
               </div>
           </div>
        </div>
    </div>
 </div>


