
@{
    ViewBag.Title = "Contato";
}

<div class="technology-1">


            <div class="business">
                <div id="contact" class="contact">
                    <h3>Contato</h3>
                    <p>Deixe seu recado, dúvida, crítica, depoimento ou apenas seu nome e e-mail para manter-se informado sobre como fazer boas transmissões ao vivo.	</p>
                    <p>e-mail: <a href="mailto:uvideosgama@gmail.com">uvideosgama@gmail.com</a></p>
                    <div class="contact-grids">

                           
                            <div class="clearfix"> </div>

                        <form>
                            <input type="text" placeholder="Nome">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Empresa">
                            <textarea placeholder="Mensagem..."></textarea>
                            <input type="submit" value="Enviar">
                        </form>
                  </div>
               </div>
           </div>
        </div>




