
@{
    ViewBag.Title = "Indique um amigo";
}

<div class="technology-1">
            <div class="business">

                <div class="comment">
                    <h3>Indique um Amigo.</h3>
                    <p></p>

                    <div class=" comment-bottom">
                        <form>
                            <input type="text" placeholder="Nome">
                            <input type="text" placeholder="Email">
                            <a><input type="submit" value="Enviar"></a>
                        </form>
                    </div>

                    <p>Deixe o nome e e-mail do seu amigo, nós avisaremos que vc o indicos, muito obrigado!</p>
                </div>
                <br><br>
            </div>
        </div>

