
@{
    ViewBag.Title = "Materiais";
}

<div class="technology-1">
            <div class="business">
                <div class="rev-1">
                    <div class="rev-img">
                        <a href="singlepage.html"><img src="images/1.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="rev-info">
                        <h3><a href="singlepage.html">Incididunt ut labore et dolore</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.isicing </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="rev-1">
                    <div class="rev-img">
                        <a href="singlepage.html"><img src="images/2.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="rev-info">
                        <h3><a href="singlepage.html">Consectetur adipisicing</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.isicing </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="rev-1">
                    <div class="rev-img">
                        <a href="singlepage.html"><img src="images/3.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="rev-info">
                        <h3><a href="singlepage.html">Ipsum dolor sit amet</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.isicing </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="rev-1">
                    <div class="rev-img">
                        <a href="singlepage.html"><img src="images/4.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="rev-info">
                        <h3><a href="singlepage.html">Sed do eiusmod tempor</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.isicing </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="rev-1">
                    <div class="rev-img">
                        <a href="singlepage.html"><img src="images/5.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="rev-info">
                        <h3><a href="singlepage.html">Dolore magna aliqua</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.isicing </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="rev-1">
                    <div class="rev-img">
                        <a href="singlepage.html"><img src="images/3.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="rev-info">
                        <h3><a href="singlepage.html">Sit amet, consectetur</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.isicing </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
    </div>




