
@{
    ViewBag.Title = "Obrigado";
}

<div class="technology-1">
    <div class="business">

        <div class="comment">
            <h3>Obrigado</h3>
            <p>Muito obrigado por se cadastrar ou recomendar nossa ajuda a alquem que se interessa pelo assunto!</p>
        </div>

        <div class="comment">
            <h3>Indique a um Amigo</h3>

            <div class="comment-bottom">
                <form>
                    <input type="text" placeholder="Nome">
                    <input type="text" placeholder="Email">
                    <input type="submit" value="Enviar">
                </form>
            </div>

            <p>Deixe o nome e e-mail do seu amigo, nós avisaremos que vc o indicos, muito obrigado!</p>
        </div>
        <br>
        <br>

    </div>
</div>