
@{
    ViewBag.Title = "Sobre";
}

<div class="technology-1">
            <div class="business">
                <div class="design-bottom">
                    <h2>Quem Somos?</h2>
                    <div class="business-left">
                        <img src="images/3.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="business-right">

                        <p>Somos um grupo de amigos com um assunto de interesse comum: acreditamos que transmissões ao vivo é a melhor forma de compartilhar momentos sejam eles de entretenimento ou mesmo corporativos. </p>
                        <p>E este blog nasceu com o intuito de esclarecer tudo o que se refere ao universo das transmissões ao vivo profissionais por meio de dicas, tutoriais, testes e indicações das ferramentas mais apropriadas para cada situação.</p>
                        <p>Se você também se interessa pelo assunto e que aprender mais, se liga no blog.</p>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="design-top">
                    <div class="blog-poast-info"></div>

                    <h2 class="small-size">Alguns dos Nossos Públicos...</h2>

                    <div class="design-left">
                        <h3 class="small-size">Artistas</h3>
                        <p>Profisionais de diversas áreas do entretenimento como atores, apresentadores, musicos, blogers, etc., nos acompanhamm para aprimorar seus conhecimentos criando relacionamento e proximidade com o seu público.</p>

                    </div>
                    <div class="design-left">
                        <h3 class="small-size">Comunicação Corporativa</h3>
                        <p>Também temos dicas para empresas que querem melhorar seus canais de divulgação interna e com seu público utilizando de modernas ferramentas e atuando onde seu alvo está, na rede.</p>

                    </div>
                    <div class="design-left">
                        <h3 class="small-size">Youtubers e Produtores de Conteúdo</h3>
                        <p>Bom para aprimorar sua performance e alcance da audiência, crie conteúdos relevantes e com qualidade profissional, leia nosso conteúdo. </p>
               </div>
          </div>
      </div>
 </div>


