
@{
    ViewBag.Title = "Sobre";
}

<div class="technology-1">
        <div class="business">
            <div class="design-bottom">
                <div class="business-left">
                    <img src="images/3.jpg" class="img-responsive" alt="" />
                </div>
                <div class="business-right">
                    <h2>Quem Somos</h2>
                    <p>Somos um grupo de amigos com um assunto de interesse comum: acreditamos que transmissões ao vivo é a melhor forma de compartilhar momentos sejam eles de entretenimento ou mesmo corporativos. </p>
                    <p>E este blog nasceu com o intuito de esclarecer tudo o que se refere ao universo das transmissões ao vivo profissionais por meio de dicas, tutoriais, testes e indicações das ferramentas mais apropriadas para cada situação.</p>
                    <p>Se você também se interessa pelo assunto e que aprender mais, se liga no blog.</p>
                    <div class="blog-poast-info">

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="design-top">

                <div class="design-left">
                    <h3>Artistas</h3>
                    <p>Our broad tool-set enables us to partner with you to create and integrate custom solutions that streamline efficiency partner with you to create and integrate custom.</p>

                </div>
                <div class="design-left">
                    <h3>Comunicação Corporativa</h3>
                    <p>Our digital marketing services will help you increase revenue, deepen relationships, enhance referrals, and elevate partner with you to create and integrate custom.</p>

                </div>
                <div class="design-left">
                    <h3>Youtubers e Produtores de Conteúdo</h3>
                    <p>Our proven approach will help you develop targeted growth strategies to multiply and measure the impact of your partner with you to create and integrate custom.</p>

                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>


