
@{
    ViewBag.Title = "Cadastro";
}

<div class="technology-1">
    <div class="business">

        <div class="comment">
            <h3>Fique antenado!</h3>
            <p>Não vamos te encher de publicidade!</p>
            <p>Vamos te enviar apenas conteúdos que você procura, relacionados à transmissão de vídeos Corporativos, de Entretenimento e para Influenciadores</p>

            <div class="comment-bottom">
                @using (Html.BeginForm("Enviar", "Home"))
                {
                    Html.RenderPartial("_Formulario");
                }
            </div>

            <p></p>
        </div>
        <br><br>
    </div>
</div>


