
@{
    ViewBag.Title = "Obrigado pela indicação!";
}

<div class="technology-1">
    <div class="business">

        <div class="comment">
            <h3>Obrigado</h3>
            <p>Muito obrigado por nos indicar! =)</p>
        </div>
        <br>
        <br>

    </div>
</div>