
@{
    ViewBag.Title = "Sobre";
}

<div class="technology-1">
            <div class="business">
                <div class="design-bottom">
                    <h2>Quem Somos?</h2>
                    <div class="business-left">
                        <img src="@Url.Content("~/images/3.jpg")" class="img-responsive" alt="" />
                    </div>
                    <div class="business-right">

                        <p>Somos um grupo de amigos com um assunto de interesse comum: acreditamos que transmissões ao vivo é a melhor forma de compartilhar momentos sejam eles de entretenimento ou mesmo corporativos.</p>
                        <p>E este blog nasceu com o intuito de esclarecer tudo o que se refere ao universo das transmissões ao vivo profissionais por meio de dicas, tutoriais, testes e indicações das ferramentas mais apropriadas para cada situação.</p>
                        <p>Se você também se interessa pelo assunto e que aprender mais, se liga no blog!</p>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="design-top">
                    <div class="blog-poast-info"></div>

                    <h2 class="small-size">Nosso Público...</h2>

                    <div class="design-left">
                        <h3 class="small-size">Comunicação Corporativa</h3>
                        <p>Empresas que querem tanto implantar, como melhorar seus canais de divulgação interna e externa, sigam-nos para obter dicas, tutoriais, como engajar o público alvo e outras informações relevantes sobre o tema.</p>

                    </div>
                    <div class="design-left">
                        <h3 class="small-size">Artistas</h3>
                        <p>Profissionais de diversas áreas do entretenimento como atores, apresentadores, músicos, bloggers, acompanham nosso blog para aprimorar seus conhecimentos criando relacionamento e proximidade com o seu público.</p>

                    </div>
                    <div class="design-left">
                        <h3 class="small-size">YouTubers e Produtores de Conteúdo</h3>
                        <p>Pessoas e empresas que necessitam aprimorar sua performance e alcance da audiência, criando conteúdos relevantes da melhor forma e com qualidade profissional.</p>
               </div>
          </div>
      </div>
 </div>


